cache-directory ".cache/tool-tool"

tools {
	node "26.8.1" {
		download {
			windows "https://nodejs.org/dist/v${version}/node-v${version}-win-x64.zip"
			linux "https://nodejs.org/dist/v${version}/node-v${version}-linux-x64.tar.gz"
		}
		commands {
			node "${linux:bin/}node"
			npm "${linux:bin/}npm"
			npx "${linux:bin/}npx"
		}
		env {
			PATH "${dir:node}"
		}
	}
	pnpm "12.2.1" {
		download {
			windows "https://github.com/pnpm/pnpm/releases/download/v${version}/pnpm-win32-x64.zip"
			linux "https://github.com/pnpm/pnpm/releases/download/v${version}/pnpm-linux-x64.tar.gz"
		}
		commands {
			pnpm "pnpm"
		}
	}
	nao "0.1.7" {
		download {
			linux "https://github.com/manuel-woelker/nao/releases/download/v${version}/nao-v${version}-x86_64-unknown-linux-musl.tar.gz"
		}
		commands {
			nao "nao"
		}
	}
}
